apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authentik
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised

  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      secret:
        name: authentik-pg-credentials

  storage:
    storageClass: local-path
    size: 1Gi
