apiVersion: v1
kind: Service
metadata:
  name: jellyfin
spec:
  selector:
    app: jellyfin
  ports:
    - protocol: TCP
      port: 80
      targetPort: http
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin-lb
spec:
  type: LoadBalancer
  selector:
    app: jellyfin
  ports:
    - port: 9000
      targetPort: http
      protocol: TCP
      name: http

