apiVersion: v1
kind: PersistentVolume
metadata:
  name: media
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  capacity:
    storage: 600Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 600Gi
  volumeName: media
