- name: Install essential packages
  package:
    name: "{{ item }}"
    state: present
  loop:
    - vim
    - htop

- name: Install unattended-upgrades package
  package:
    name: unattended-upgrades
    state: present

- name: Update SSH configuration with best practices
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: 'sshd -t -f %s'
  with_items:
    - regexp: "^PasswordAuthentication"
      line: "PasswordAuthentication no"
    - regexp: "^PermitRootLogin"
      line: "PermitRootLogin no"
  notify: restart ssh
