apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cadvisor
  namespace: argocd
spec:
  project: default
  source:
    chart: cadvisor
    repoURL: https://ckotzbauer.github.io/helm-charts
    targetRevision: 2.4.1
    helm:
      releaseName: cadvisor
      values: |
        container:
          additionalArgs:
            - --housekeeping_interval=10s
            - --max_housekeeping_interval=15s
            - --event_storage_event_limit=default=0
            - --event_storage_age_limit=default=0
            # https://github.com/google/cadvisor/issues/3139
            - --disable_metrics=percpu,sched,tcp,udp,referenced_memory
            - --docker_only
          metrics:
            enabled: true

  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
