apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudnative-pg
  namespace: argocd
spec:
  project: default
  source:
    chart: cloudnative-pg
    repoURL: https://cloudnative-pg.github.io/charts
    targetRevision: 0.26.1
    helm:
      releaseName: cloudnative-pg
      values: |
        config:
          clusterWide: false

  destination:
    server: "https://kubernetes.default.svc"
    namespace: postgres
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
