apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: falco
  namespace: argocd
spec:
  project: default
  source:
    chart: falco
    repoURL: https://falcosecurity.github.io/charts
    targetRevision: 7.0.2
    helm:
      values: |
        tty: true
      releaseName: falco
  destination:
    server: "https://kubernetes.default.svc"
    namespace: falco
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
