apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://helm.traefik.io/traefik
    targetRevision: 31.0.0
    helm:
      releaseName: traefik
      values: |
        ingressRoute:
          dashboard:
            enabled: true
        providers:
          kubernetesIngress:
            namespaces:
              - argocd
              - traefik
            publishedService:
              enabled: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik
