apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://helm.traefik.io/traefik
    targetRevision: 37.4.0
    helm:
      releaseName: traefik
      values: |
        ports:
          web:
            redirections:
              entryPoint:
                to: websecure
                scheme: https
                permanent: true
        ingressRoute:
          dashboard:
            enabled: true
        providers:
          kubernetesIngress:
            publishedService:
              enabled: true
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik
