apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy
data:
  config.alloy: |
    prometheus.remote_write "default" {
      endpoint {
        url = env("GRAFANA_CLOUD_PROMETHEUS_ENDPOINT")

        basic_auth {
          username = env("GRAFANA_CLOUD_PROMETHEUS_USERNAME")
          password = env("GRAFANA_CLOUD_PASSWORD")
        }
      }
    
      write_relabel_config {
        source_labels = ["__name__"]
        action = "keep"
        regex = "(up|container_cpu_usage_seconds_total|container_memory_working_set_bytes|container_spec_memory_limit_bytes|kube_deployment_status_replicas_unavailable|kube_node_info|kube_node_status_allocatable|kube_pod_container_status_restarts_total|kube_pod_info|kube_pod_status_phase|node_cpu_seconds_total|node_filesystem_avail_bytes)"
      }
    }

    prometheus.operator.podmonitors "pods" {
      forward_to = [prometheus.remote_write.default.receiver]
    }
    
    prometheus.operator.servicemonitors "services" {
      forward_to = [prometheus.remote_write.default.receiver]
    }
