on:
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * 1'

name: Renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.5
        with:
          configurationFile: ".github/renovate.json"
          token: ${{ secrets.RENOVATE_TOKEN }}
